/* .App {
  text-align: center;
  background-image: linear-gradient(
    to right,
    #040837,
    #002049,
    #003458,
    #004862,
    #105b6b
  );
}

.particle {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
} */
