body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: antiquewhite;
  width: 100vw;
  height: 100vh;
}

.background {
  background-image: linear-gradient(
    to top,
    #040837,
    #002049,
    #003458,
    #004862,
    #105b6b
  );
}
.innerscreen {
  background-color: rgba(0, 0, 0, 0.7);

  border-radius: 5vh;
  position: absolute;
  top: 10%;
  left: 4%;
  width: 92%;
  height: 85%;
  z-index: 1;
}

#user-profile-container,
#stock-profile-container {
  background-color: rgba(0, 0, 0, 0.25);
}
#company-stats{
  padding:1vh;
  font-size: 12px;

}
#company-stats:hover {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 3vh;
}
#chart-canvas{
  border: 2px solid black
}